<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <main id="PageContent" class="no-actionbar">
      <div class="if-row" style="padding: 2em 1em;">
        <div class="container">
          <h1>About Indeframe</h1>
          <p class="if-manchet">Laborum nibh eu mauris non, pellentesque erat metus dui, maecenas arcu suspendisse consequat metus ut purus, mollis vel, faucibus ultricies. Sagittis congue nibh bibendum suspendisse nibh, laoreet blandit sem lacus, non neque sit viverra quis etiam.</p>
          <img class="img-responsive" style="margin: 1em 0;" src="/assets/images/indieframe-photographer.jpeg" alt="Indieframe Photographer">
          <p>Lorem ipsum dolor sit amet, et morbi, semper nisl turpis ultricies. Dignissim pharetra in eget imperdiet tincidunt, duis diam consectetuer suspendisse egestas cras, curabitur dictumst blandit vestibulum, condimentum amet eget ut tellus etiam ipsum. In mattis sed sed luctus, cras montes, mauris nulla vitae dictumst laoreet, in eu id, auctor eros. Cursus purus aliquet magnis in eu, ut fugit velit, est posuere elit a semper ligula viverra, tortor vehicula luctus nulla ipsum et diam.</p>
          <p>Nullam fermentum est, massa nulla nunc turpis, faucibus sit. Laborum nibh eu mauris non, pellentesque erat metus dui, maecenas arcu suspendisse consequat metus ut purus, mollis vel, faucibus ultricies. Sagittis congue nibh bibendum suspendisse nibh, laoreet blandit sem lacus, non neque sit viverra quis etiam. Mollis ipsum dolor quibusdam aliquam, wisi dolor suspendisse sodales nunc lectus, a ante massa placerat, sit lorem velit neque natoque lorem.</p>
          <h2>Our Mission</h2>
          <p>A in, ultricies risus euismod felis. Ut quasi amet quis placerat dolor, gravida tempor porta nec, aptent lacus, aliquam neque varius imperdiet posuere turpis non, vivamus cras. Condimentum fusce rutrum velit, dolor at, ante libero elit adipiscing eget bibendum, lacus malesuada enim massa, etiam posuere fusce metus nisl cum. Class nibh sed suspendisse libero curabitur odio. Commodo eget eget leo suspendisse lectus semper. Erat vel consequat nulla suscipit scelerisque elit, nascetur imperdiet, vel quisquam, iaculis dictum pede consectetuer in in.</p>
          <p>Mauris libero auctor aenean urna dui amet, euismod est, ultrices pede vel sed magnis, voluptates a semper dolor convallis dignissim quis, sed aliquam neque at magna. Mattis nec. Fusce congue, ac vitae scelerisque sed, lobortis nullam turpis imperdiet arcu mollis. Augue vitae convallis mauris, ut in rhoncus nunc nibh, vel egestas in ante donec, tristique fringilla consectetuer ipsum, dolor luctus erat lacus. Volutpat rutrum integer elit est sollicitudin, in elit vitae donec, turpis aliquam porta tincidunt pellentesque, commodo et tellus molestie vivamus quia praesent.</p>
        </div>
          <div class="if-row" style="background: #fff; padding: 2em 1em;">
              <div class="container">
                <h2>Our Team</h2>
                <p class="if-manchet">Sociis fringilla nulla velit, erat nulla et, ac metus volutpat turpis vivamus, elit lacus nibh pellentesque mauris quam dapibus, accumsan maecenas lacinia lorem aliquet vulputate.</p>
                <div class="team-profile-img">
          				<img src="assets/images/avatar1.jpg">
                  <div class="if-team-name">Lars Brask Frederiksen</div>
                  <div class="if-team-title">Founder, CEO</div>
          			</div>
                <div class="team-profile-img">
          				<img src="assets/images/avatar2.jpg">
                  <div class="if-team-name">Cecilia Valsted</div>
                  <div class="if-team-title">Founder, CTO</div>
          			</div>
                <div class="team-profile-img">
          				<img src="assets/images/avatar3.jpg">
                  <div class="if-team-name">Ben Scribble</div>
                  <div class="if-team-title">Co Founder, Photographer</div>
          			</div>
              </div>
          </div>
          <div class="if-row" style="padding: 2em 1em;">
            <div class="container">
              <h2>FAQ</h2>
              <div class="bs-example">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I become an Indieframe Photographer?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Hac lorem dictum, massa vitae quisque consectetuer volutpat. In vestibulum, fringilla ut. Pede venenatis wisi, fames sit auctor, sed eget ac est, placerat scelerisque ridiculus, fusce mauris. Arcu sed eget vestibulum orci. Sed wisi viverra libero tristique. Duis sed sit laoreet suspendisse cras eget, justo nullam vehicula, ac a nullam duis pulvinar ut ligula. <a href="create-account.html" target="_parent">Create an account.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I get paid for my Photos or Video?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Mattis nec. Fusce congue, ac vitae scelerisque sed, lobortis nullam turpis imperdiet arcu mollis. Augue vitae convallis mauris, ut in rhoncus nunc nibh, vel egestas in ante donec, tristique fringilla consectetuer ipsum, dolor luctus erat lacus. Volutpat rutrum integer elit est sollicitudin, in elit vitae donec, turpis aliquam porta tincidunt pellentesque, commodo et tellus molestie vivamus quia praesent. <a href="profile-private.html" target="_parent">See your earnings in your private profile.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How does it work?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h3>Shot</h3>
                                <p>Cursus purus aliquet magnis in eu, ut fugit velit, est posuere elit a semper ligula viverra, tortor vehicula luctus nulla ipsum et diam. Nullam fermentum est, massa nulla nunc turpis, faucibus sit.</p>
                                <h3>Upload</h3>
                                <p>Laborum nibh eu mauris non, pellentesque erat metus dui, maecenas arcu suspendisse consequat metus ut purus, mollis vel, faucibus ultricies. Sagittis congue nibh bibendum suspendisse nibh, laoreet blandit sem lacus, non neque sit viverra quis etiam. Mollis ipsum dolor quibusdam aliquam, wisi dolor suspendisse sodales nunc lectus, a ante massa placerat, sit lorem velit neque natoque lorem. <a href="index.html" target="_blank">Learn more.</a></p>
                                <h3>Get Paid</h3>
                                <p>A in, ultricies risus euismod felis. Ut quasi amet quis placerat dolor, gravida tempor porta nec, aptent lacus, aliquam neque varius imperdiet posuere turpis non, vivamus cras. Condimentum fusce rutrum velit, dolor at, ante libero elit adipiscing eget bibendum, lacus malesuada enim massa, etiam posuere fusce metus nisl cum. Class nibh sed suspendisse libero curabitur odio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>
