
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <main id="PageContent" class="no-actionbar" style="padding: 2em 1em;">
      <div class="if-row">
        <div class="container">
          <h1>Contact us</h1>
          <p class="if-manchet">We are always interested in hearing from you - whether you are a reporter, from a media or just someone interested in IndieFrame.<br>Please don’t hesitate to get in touch!</p>
          <img class="img-responsive" style="margin: 1em 0;" src="assets/images/contact-indeframe.jpg" alt="Contact Indieframe">

          <address class="if-address">
            <div class="if-address-item">
              <span>Email:</span><a hre="mailto:info@indieframe.com">info@indieframe.com</a>
            </div>
            <div class="if-address-item">
              <span>Phone:</span>+45 2721 1057 or +45 5194 1415
            </div>
            <div class="if-address-item">
              <span>Address:</span>Flaesketorvet 68, 1711 Copenhagen V, Denmark
            </div>
          </address>
        </div>
      </div>
      <div class="if-row" style="background: #fff; padding: 2em 1em;">
        <div class="container">
          <h3>Follow us</h3>
          <ul class="nav navbar-nav navbar-social">
  					<li>
  						<a style="padding-left: 0;" href="#">
  							<div class="fa-stack fa-lg">
  						  		<i class="fa fa-square fa-stack-2x"></i>
  						  		<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
  							</div>
  						</a>
  					</li>
  					<li>
  						<a href="#">
  							<div class="fa-stack fa-lg">
  						  		<i class="fa fa-square fa-stack-2x"></i>
  						  		<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
  							</div>
  						</a>
  					</li>
  					<li>
  						<a href="#">
  							<div class="fa-stack fa-lg">
  							  <i class="fa fa-square fa-stack-2x"></i>
  							  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  							</div>
  						</a>
  					</li>
  					<li>
  						<a href="#">
  							<div class="fa-stack fa-lg">
  							  <i class="fa fa-square fa-stack-2x"></i>
  							  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
  							</div>
  						</a>
  					</li>
  				</ul>
        </div>
      </div>
    </main>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>
