<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
    <style type="text/css">
	  html, body { height: 100%; margin: 0; padding: 0; }

	</style>
  </head>
  <body>
    <% include partials/nav %>
    <% include partials/actionbar %>
    <main id="PageContent">
    	<div id="ReporterMap"></div>
    </main> <!-- end PageContent -->
    <% include partials/footer %>
    <% include partials/scripts %>
    <% include partials/googleMaps %>
  </body>
</html>
