<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <% include partials/actionbar %>
    <main id="PageContent">
      <% include partials/frontpage/hero %>
      <section id="Newsfeed" class="container-fluid ">
        <h2 style="text-align: center; font-size: 2.5em; padding: 4em 0 1em;">Explore a world of photos and videos</h2>
        <% include partials/frontpage/isotope-feed %>
      </section>
    </main> <!-- end PageContent -->
    <!-- <% include partials/footer %> -->
    <% include partials/scripts %>
  </body>
</html>
