<section class="container-fluid actionBar hidden-xs">
  <div class="container">
    <div class="wrap-searchbar">
      <div class="input-group">
        <input type="text" class="form-control if-search" placeholder="Search real life video and photos...">
        <div class="input-group-addon if-addon"><i class="fa fa-search fa-lg"></i></div>
        <!--div class="input-group-btn">
          <button type="button" class="btn btn-primary dropdown-toggle btn-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter fa-2x" aria-hidden="true"></i><span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Item type</a></li>
            <li><a href="#">Price</a></li>
            <li><a href="#">Upload date</a></li>
            <li><a href="#">Reporters</a></li>
            <li><a href="#">Usage rights</a></li>
          </ul>
        </div--><!-- /btn-group -->
      </div><!-- /input-group -->
    </div>
    <div class="wrap-uploadbutton">
      <button class="btn btn-block btn-upload pull-right" onclick="window.location.href = 'upload.html';">
        <span class="addon-icon">
          <i class="fa fa-cloud-upload if-awsome-icon" aria-hidden="true"></i>
        </span>
        <p>Upload content</p>
      </button>
    </div>
  </div>
</section>
