<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar1.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick1.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">143<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 284</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Skyscraper from Below
            <span class="feed-type"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar2.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick4.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">14<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 137</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Beatiful Girl
            <span class="feed-type"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar1.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick2.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">143<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 284</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Skyscraper from Below
            <span class="feed-type"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar2.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick5.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">14<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 137</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Beatiful Girl
            <span class="feed-type"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar1.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick3.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">143<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 284</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Skyscraper from Below
            <span class="feed-type"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar2.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick6.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">14<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 137</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Beatiful Girl
            <span class="feed-type"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar1.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick7.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">143<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 284</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Skyscraper from Below
            <span class="feed-type"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar2.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick8.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">14<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 137</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Beatiful Girl
            <span class="feed-type"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar1.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick9.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">143<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 284</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Skyscraper from Below
            <span class="feed-type"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar2.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick10.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">14<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 137</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Beatiful Girl
            <span class="feed-type"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar1.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick11.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">143<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 284</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Skyscraper from Below
            <span class="feed-type"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar2.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick12.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">14<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 137</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Beatiful Girl
            <span class="feed-type"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar1.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick13.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">143<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 284</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Skyscraper from Below
            <span class="feed-type"><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="item">
  <div class="well">
    <div class="feed-header">
      <span class="feed-profile"><img class="img-profile" src="assets/images/avatar2.jpg" alt="Users name"><a href="/profile-public.html">Jesper Frimann</a></span>
      <span class="feed-date">12/12/2016</span>
    </div>
    <div class="feed-item">
      <img class="feed-thumb" src="assets/images/flick14.jpg">
      <div class="feed-likesAndViews">
        <span class="feed-likeCount">14<i class="fa fa-heart"></i></span>
        <span class="feed-viewCount"><i class="fa fa-eye"></i> 137</span>
      </div>
      <div class="feed-info">
        <div class="feed-inspect">
        </div>
        <div class="feed-specs">
          <div class="feed-title">
            Beatiful Girl
            <span class="feed-type"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <span class="feed-likes"><i class="fa fa-heart-o"></i></span>
          </div>
          <div class="feed-hashTags">
            <a class="feed-tag" href="search-result.html">building</a><a class="feed-tag" href="search-result.html">skyscraper</a><a class="feed-tag" href="search-result.html">bigcity</a>
          </div>
          <div class="feed-locAndPrice">
            <span class="feed-location"><i class="fa fa-map-marker"></i>Copenhagen, Denmark</span>
            <span class="feed-price">$ 135.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
