<footer class="container-fluid page-footer hidden-xs">
	<div class="container">
		<div class="footer-logo">
			<img src="assets/images/logo-indieframe-simple.png">
		</div>
		<div class="footer-nav">
			<div class="col-sm-3">
				<h3>What we sell</h3>
				<ul>
					<li><a href="#">Photo</a></li>
					<li><a href="#">Illustration</a></li>
					<li><a href="#">Video</a></li>
					<li><a href="#">Audio</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Ways to pay</h3>
				<ul>
					<li><a href="#">Plans and pricing</a></li>
					<li><a href="#">Corperate accounts</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Need help?</h3>
				<ul>
					<li>Phone Support: +45 35412314</li>
					<li>International toll-free: 00 800</li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Follow us</h3>
				<ul class="nav navbar-nav navbar-social">
					<li>
						<a href="#">
							<div class="fa-stack fa-lg">
						  		<i class="fa fa-square fa-stack-2x"></i>
						  		<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="fa-stack fa-lg">
						  		<i class="fa fa-square fa-stack-2x"></i>
						  		<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="fa-stack fa-lg">
							  <i class="fa fa-square fa-stack-2x"></i>
							  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="fa-stack fa-lg">
							  <i class="fa fa-square fa-stack-2x"></i>
							  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>