<nav class="navbar navbar-fixed-top navbar-default navbar-mobile visible-xs">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img class="img-responsive" src="assets/images/logo-indieFrame.png"></a>
    <button type="button" class="navbar-toggle" onclick="toggleNavButtons()" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-collapse-group="togglableNav" data-canvas="body">
      <i class="fa fa-bars" aria-hidden=true></i>
    </button> 
    <button type="button" class="navbar-toggle collapsed" onclick="toggleNavButtons()" data-toggle="collapse" data-target="#navbar-userprofile" data-collapse-group="togglableNav" aria-expanded="false">
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>
    <button type="button" class="navbar-toggle collapsed" onclick="toggleNavButtons()" data-toggle="collapse" data-target="#navbar-search" data-collapse-group="togglableNav" aria-expanded="false">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    <button type="button" class="navbar-toggle collapsed shopping-cart" onclick="toggleNavButtons()" data-toggle="collapse" data-target="#navbar-shoppingcart" data-collapse-group="togglableNav" aria-expanded="false">
      <i class="fa fa-shopping-cart" aria-hidden="true"><span class="cart-count">5</span></i>
    </button> 
  </div>

  <!-- OFFCANVAS GLOBAL MENU -->
  <div class="navbar-offcanvas offcanvas" id="navbar-global">
    <a class="navmenu-brand center-text" href="#">
      <img class="img-responsive center-block" src="assets/images/logo-indieFrame.png">
      <p class="brand-tag text-center">Connecting you to the media</p>
    </a>
    <ul class="nav navbar-nav">
      <li><a href="#">Get the app</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Find reporter</a></li>
      <li class=""><a href="#">Support</a></li>
      <li>
        <div class="row social-buttons text-center">
          <div class="col-xs-3 btn-social-wrap">
            <a href="#" type="button" class="btn btn-primary btn-lg btn-social"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col-xs-3 btn-social-wrap">
            <a href="#" type="button" class="btn btn-primary btn-lg btn-social"><i class="fa fa-google-plus"></i></a>
          </div>
          <div class="col-xs-3 btn-social-wrap">
            <a href="#" type="button" class="btn btn-primary btn-lg btn-social"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="col-xs-3 btn-social-wrap">
            <a href="#" type="button" class="btn btn-primary btn-lg btn-social"><i class="fa fa-youtube"></i></a>
          </div>
        </div> 
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">What we sell <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Photos</a></li>
          <li><a href="#">Illustrations</a></li>
          <li><a href="#">Video</a></li>
          <li><a href="#">Audio</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ways to pay <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Plans and pricing</a></li>
          <li><a href="#">Corperate accounts</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Need help? <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <address>
              <strong>Phone support</strong><br>
              <abbr title="Phone">Denmark:</abbr> +45 35412314<br>
              <abbr title="Phone">Toll-free:</abbr> 00 800
            </address>
          </li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- OFFCANVAS GLOBAL MENU -->

  <!-- COLLAPSE USER PROFILE -->
  <div class="collapse navbar-collapse" id="navbar-userprofile">
    <div class="container-uploadButton">
      <button type="button" class="btn btn-lg btn-primary btn-block btn-upload">
        <span class="addon-icon">
          <i class="fa fa-cloud-upload if-awsome-icon" aria-hidden="true"></i>
        </span>
        Upload videos and photos
      </button>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="#"><i class="fa fa-inbox mobile-menu-icon" aria-hidden="true"></i>My Content</a></li>
      <li><a href="#"><i class="fa fa-line-chart mobile-menu-icon" aria-hidden="true"></i>Statistics</a></li>
      <li><a href="#"><i class="fa fa-comments mobile-menu-icon" aria-hidden="true"></i>Messages</a></li>
      <li><a href="#"><i class="fa fa-users mobile-menu-icon" aria-hidden="true"></i>Connections</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog mobile-menu-icon" aria-hidden="true"></i>Profile settings <i class="fa fa-plus if-caret" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">Edit Profile</a></li>
          <li><a href="#">Change Password</a></li>
          <li><a href="#">GEO Location</a></li>
          <li><a href="#">Linked Accounts</a></li>
          <li><a href="#">Payment and Purchase</a></li>
          <li><a href="#">Payment Receival</a></li>
          <li><a href="#">Notifications</a></li>
          <li><a href="#">Terms and Conditions</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- END COLLAPSE USER PROFILE -->

  <!-- COLLAPSE SEARCH -->
  <div class="collapse navbar-collapse" id="navbar-search">
    <form class="navbar-form navbar-left" role="search">
        <input type="text" class="form-control" placeholder="Search videos or photos here">
    </form>
  </div><!-- END COLLAPSE SEARCH -->

  <!-- COLLAPSE SHOPPING CART -->
  <div class="collapse navbar-collapse" id="navbar-shoppingcart">
    <ul class="nav navbar-nav shoppingCart-mobile cart-items">
      <li>
        <div class="cart-header">Your Cart <span class="item-count">(5)</span></div>
          <div class="cart-item">
            <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
            <div class="cart-item-info">
              <div class="cart-item-title">Stock Name</div>
              <div class="cart-item-stockNumber">12456</div>
            </div>
            <div class="cart-item-info">
              <div class="cart-item-price">$ 12,50</div>
              <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <div class="cart-item">
            <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
            <div class="cart-item-info">
              <div class="cart-item-title">Stock Name</div>
              <div class="cart-item-stockNumber">12456</div>
            </div>
            <div class="cart-item-info">
              <div class="cart-item-price">$ 12,50</div>
              <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <div class="cart-item">
            <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
            <div class="cart-item-info">
              <div class="cart-item-title">Stock Name</div>
              <div class="cart-item-stockNumber">12456</div>
            </div>
            <div class="cart-item-info">
              <div class="cart-item-price">$ 12,50</div>
              <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <div class="cart-item">
            <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
            <div class="cart-item-info">
              <div class="cart-item-title">Stock Name</div>
              <div class="cart-item-stockNumber">12456</div>
            </div>
            <div class="cart-item-info">
              <div class="cart-item-price">$ 12,50</div>
              <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <div class="cart-item">
            <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
            <div class="cart-item-info">
              <div class="cart-item-title">Stock Name</div>
              <div class="cart-item-stockNumber">12456</div>
            </div>
            <div class="cart-item-info">
              <div class="cart-item-price">$ 12,50</div>
              <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <div class="cart-item">
            <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
            <div class="cart-item-info">
              <div class="cart-item-title">Stock Name</div>
              <div class="cart-item-stockNumber">12456</div>
            </div>
            <div class="cart-item-info">
              <div class="cart-item-price">$ 12,50</div>
              <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            </div>
          </div>
          <div class="col-xs-12 cart-total">Total: $ 34,432.34</div>
          <button type="button" class="col-xs-12 btn btn-primary btn-lg btn-cart-checkout">Checkout</button>
      </li>
    </ul>
    
  </div><!-- END COLLAPSE SHOPPING CART -->
</nav>