<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lg-navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo-indieframe.png" class="img-responsive"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="lg-navigation">
      <ul class="nav navbar-nav navbar-left navbar-global">
        <li><a href="create-account.html">Get the app</a></li>
        <li class="divider-vertical hidden-xs"><span>&#124;</span></li>
        <li><a href="about.html">About</a></li>
        <li class="divider-vertical hidden-xs"><span>&#124;</span></li>
        <li><a href="find-reporter.html">Find Reporter</a></li>
        <li class="divider-vertical hidden-xs"><span>&#124;</span></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <!-- RIGHT ICON NAVBAR -->
      <ul class="nav navbar-nav navbar-right navbar-icon">

        <!-- SHOOPING CART -->
        <li class="dropdown shopping-cart">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart" aria-hidden="true"><span class="cart-count">5</span></i></a>
          <ul class="dropdown-menu shoppingCart-mega-menu cart-items">
            <li>
              <div class="if-mm-header">Your Cart <span class="item-count">(5)</span></div>
              <div class="if-mm-column">
                <div class="cart-item" onclick="window.location.href = 'feeditem.html';" onmouseover="$(this).css('cursor','pointer');">
                  <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
                  <div class="cart-item-info">
                    <div class="cart-item-title">Stock Name</div>
                    <div class="cart-item-stockNumber">12456</div>
                  </div>
                  <div class="cart-item-info">
                    <div class="cart-item-price">$ 12,50</div>
                    <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
                  </div>
                </div>
                <div class="cart-item" onclick="window.location.href = 'feeditem.html';" onmouseover="$(this).css('cursor','pointer');">
                  <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
                  <div class="cart-item-info">
                    <div class="cart-item-title">Stock Name</div>
                    <div class="cart-item-stockNumber">12456</div>
                  </div>
                  <div class="cart-item-info">
                    <div class="cart-item-price">$ 12,50</div>
                    <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
                  </div>
                </div>
                <div class="cart-item" onclick="window.location.href = 'feeditem.html';" onmouseover="$(this).css('cursor','pointer');">
                  <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
                  <div class="cart-item-info">
                    <div class="cart-item-title">Stock Name</div>
                    <div class="cart-item-stockNumber">12456</div>
                  </div>
                  <div class="cart-item-info">
                    <div class="cart-item-price">$ 12,50</div>
                    <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
                  </div>
                </div>
                <div class="cart-item" onclick="window.location.href = 'feeditem.html';" onmouseover="$(this).css('cursor','pointer');">
                  <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
                  <div class="cart-item-info">
                    <div class="cart-item-title">Stock Name</div>
                    <div class="cart-item-stockNumber">12456</div>
                  </div>
                  <div class="cart-item-info">
                    <div class="cart-item-price">$ 12,50</div>
                    <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
                  </div>
                </div>
                <div class="cart-item" onclick="window.location.href = 'feeditem.html';" onmouseover="$(this).css('cursor','pointer');">
                  <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
                  <div class="cart-item-info">
                    <div class="cart-item-title">Stock Name</div>
                    <div class="cart-item-stockNumber">12456</div>
                  </div>
                  <div class="cart-item-info">
                    <div class="cart-item-price">$ 12,50</div>
                    <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
                  </div>
                </div>
                <div class="cart-item" onclick="window.location.href = 'feeditem.html';" onmouseover="$(this).css('cursor','pointer');">
                  <div class="cart-item-info"><img class="img-responsive" src="assets/images/flick1.jpg" alt="StockTitle by ReporterName"/></div>
                  <div class="cart-item-info">
                    <div class="cart-item-title">Stock Name</div>
                    <div class="cart-item-stockNumber">12456</div>
                  </div>
                  <div class="cart-item-info">
                    <div class="cart-item-price">$ 12,50</div>
                    <button type="button" class="close cart-item-delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></span></button>
                  </div>
                </div>
                <div class="col-xs-12 cart-total">Total: $ 34,432.34</div>
                <button type="button" class="btn btn-primary btn-lg btn-cart-checkout btn-block">Checkout</button>
              </div>
            </li>

          </ul>
        </li>
        <li class="divider-vertical hidden-xs"><span>&#124;</span></li>

        <!-- PROFILE -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></a>
          <ul class="dropdown-menu profile-mega-menu">
            <li class="">
                <div class="if-mm-header">Your Profile</div>
                <div class="if-mm-column">
                  <div class="if-mm-column-header-wrap">
                    <button type="button" class="btn btn-lg btn-upload"onclick="window.location.href = 'upload.html';" onmouseover="$(this).css('background-color','#000');" onmouseout="$(this).css('background-color','#1395ba');">
                      <span class="addon-icon">
                        <i class="fa fa-cloud-upload if-awsome-icon" aria-hidden="true"></i>
                      </span>
                      Upload Media
                    </button>
                    <div class="if-mm-column-header">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span>My Indieframe</span>
                    </div>
                  </div>
                  <ul class="nav navbar if-mm-items">
                    <li><a href="profile-public.html">
                      <i class="fa fa-inbox" aria-hidden="true"></i>
                      my content
                    </a></li>
                    <li><a href="profile-public.html">
                      <i class="fa fa-line-chart" aria-hidden="true"></i>
                      Statistics
                    </a></li>
                    <li><a href="profile-public.html">
                      <i class="fa fa-comments" aria-hidden="true"></i>
                      Messages
                    </a></li>
                    <li><a href="profile-public.html">
                      <i class="fa fa-users" aria-hidden="true"></i>
                      Connections
                    </a></li>
                  </ul>
                </div>
                <div class="if-mm-column border-middle">
                  <div class="if-mm-column-header-wrap">
                    <div class="if-mm-user-avatar">
                      <img src="assets/images/avatar1.jpg" alt="User Name">
                      <div class="if-mm-avatar-shortInfo">
                        <div class="if-mm-avatar-name">
                            User Name
                        </div>
                        <div class="if-mm-avatar-userType">
                            Professional Photographer
                        </div><a href="login-knownUser.html" class="if-mm-avatar-logout"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>
                    </div>
                    </div>
                    <div class="if-mm-column-header">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                      <span>Profile settings</span>
                    </div>
                  </div>
                  <ul class="nav navbar if-mm-items">
                    <li><a href="profile-private.html">Edit profile</a></li>
                    <li><a href="profile-private.html">Change Password</a></li>
                    <li><a href="profile-private.html">Geo Location</a></li>
                    <li><a href="profile-private.html">Linked Accounts</a></li>
                    <li><a href="profile-private.html">Payment and Purchase</a></li>
                    <li><a href="profile-private.html">Payment receival</a></li>
                    <li><a href="profile-private.html">Notifications</a></li>
                    <li><a href="profile-private.html">Terms and conditions</a></li>
                  </ul>
                </div>
            </li>
          </ul>
        </li>
        <li class="divider-vertical hidden-xs"><span>&#124;</span></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><h3 style="padding: 0 1em;">Hidden pages</h3></li>
            <li><a href="create-account.html">Create accout</a></li>
            <li><a href="login-knownUser.html">Login Known User</a></li>
            <li><a href="profile-public.html">Public Profile</a></li>
            <li><a href="profile-private.html">Private Profile</a></li>
            <li><a href="upload.html">Upload Media</a></li>
            <li><a href="upload-addInfo.html">Add Media Info</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li><h3 style="padding: 0 1em;">Hidden pages</h3></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% include nav-mobile %>
